<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Newzgroup update
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Catégorie</ion-label>
            <ion-select [(ngModel)]="categorySelect">
                <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
            </ion-select>
            <button ion-button color="light" clear icon-only item-end (click)="search()" style="padding-left: 50px">
                <ion-icon name='search' is-active="false"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <br>
    <ion-list *ngIf="!resultShow">
        <ion-list-header>
            {{result.countBefore}} éléments toute catégorie
        </ion-list-header>
        <ion-item *ngFor="let resultCategory of result.categories">
            {{resultCategory.countBefore}} éléments dans {{resultCategory.title}}
        </ion-item>
    </ion-list>
    <ion-list *ngIf="resultShow">
        <ion-list-header>
            {{result.countAfter}} éléments toute catégorie
        </ion-list-header>
        <ion-item *ngFor="let resultCategory of result.categories">
            {{resultCategory.countAfter}} éléments dans {{resultCategory.title}}
        </ion-item>
    </ion-list>
</ion-content>